nav{

    display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;

}


.open-sans-header{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title{

font-weight: 800;
font-size: 45px;


}


.d{

color: #FD6E0A;
}


nav ul li{


list-style: none;
margin-right: 52px;

}

nav li a{

text-decoration: none;
font-size: 20px;

}

.dark2{


color: #474747;

}


nav ul{

display: flex;
align-items: center;

}

.btn-primary{

background-color: #FD6E0A;
font-weight: bold;
color:white;
padding: 18px 35px;
border-radius: 5px;
font-size: 20px;
border: none;

}
/* Banner style */

.banner-title{
font-weight: bold;
font-size: 60px;

}

.banner-greetings{

font-size: 45px;
font-weight: 600px;

}

.banner-profile-pic{

width: 580px;

}

.banner{

display: flex;

justify-content: space-between;

margin: 0 35px 0 200px ;

}

.banner-content{

    max-width: 580px;



}


.header{

background-image: url('/images/developer.png'), url('/images/header_bg.png');

background-repeat: no-repeat;
background-position: top left, bottom right;



}

.section-title{

font-size: 35px;
font-weight: bold;
color: #181818;

}

.section-description{

    font-size: 18px;
color: #757575;

}

.secondary-bg{


background-color: #FFF8F3;


}

main{
max-width: 1140px;

margin: 0% auto;



}

.about{

border-radius: 10px;
padding: 130px 150px;
text-align: center;

margin-top: 130px;


}


.item-description{


    font-weight: 600;
}

.about-items{

display: flex;
justify-content: space-between;


}

.text-center{

text-align: center;


}


.skillls-container{

display: flex;
gap: 24px;


}

.skill{
padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
border-radius: 5px;

}

main section{

margin-top: 130px;
margin-bottom: 130px;
}




/* resume section styles */

.resume-container{

display: flex;
gap: 24px;


}

.experience-description, .experence-sub-title{

    color: #757575;


}

.experence-sub-title{
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}

.resume hr{

margin: 30px 5px;
  
}


.footer-culumn{



}


footer{

padding: 130px 230px;
display: flex;
gap: 100px;



}

.footer-culumn{

width: 50%;

}

footer input[type="text"], footer input[type="email"], footer textarea {

height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
 
}

/* Responsive Section Start */


.hide{

display: none;


}


@media screen and (max-width:576px) {
    
.skillls-container, 
footer, 
.banner,

nav > ul, 
.about-items{
flex-direction: column;

}

.resume-container{

    flex-direction: column;

}

nav > ul{

gap: 20px;

}


footer, .about{

padding: 20px;

}


.btn-primary{

margin-bottom: 20px;


}

.footer-culumn{
width: 100%;

}


footer input[type="text"], footer input[type="email"], footer textarea {

width: calc(100% - 40px );

}


.banner{

    margin: 20px;

}

.banner-profile-pic{

width: 100%;

}

.header{

    background-image: none;

}


}

/* Tablet spasific Media Query */


@media screen and (min-width:576px) and (max-width:990px){

.banner{

    flex-direction: column;

}


    
}
